html {
  /* 字体设置 */
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
  /* 背景色设置 */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0)
    ),
    url("images/bg01.png");
  background-color: #f7f7f7;
  background-position: top left, top left;
  background-repeat: no-repeat, repeat;
  background-size: 100% 30rem, auto;
  /* 盒模型设置 */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  max-width: 70%;
  min-height: 200vh;
  margin: 5rem auto;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80%;
  width: 20%;
  background-color: #ff4486;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  height: 100%;
  width: 100%;
  color: #f5f5f5;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  display: block flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

.logo:hover {
  box-shadow: 0 0 0 0.2rem #ff4486;
}

.main-nav {
  height: 60%;
  width: 50%;
}

.nav-list {
  height: 100%;
  width: 100%;
  display: grid;
  writing-mode: horizontal-tb;
  grid-template-columns: repeat(4, 1fr);
  gap: 10%;
}

.nav-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #333;
  color: #f5f5f5;
  box-shadow: 0 0 0 0.1rem #333;
}

.nav-item.active {
  background-color: #333;
  color: #f5f5f5;
}

.nav-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: block flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: inherit;
}
